@{
    ViewData["Title"] = "Home Page";
}

<header>
    <nav id='navbar'>
        <div class="container">
            <h1 class='logo'>Wel Come</h1>
        </div>
    </nav>
</header>

<footer id="main-footer">
    
</footer>